__pycache__/
*.py[cod]
*$py.class

venv/
ENV/
env/
.venv/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

*.log

*.egg
*.egg-info/
dist/
build/

docs/.cache/

.ipynb_checkpoints/

htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

*.local

*~
*.bak
